*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #1a0000;
}

.logo{
    color: white;
    font-size: 38PX;
    font-family: 'Borel', cursive;
font-family: 'Edu SA Beginner', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Lumanosimo', cursive;
}
.navbar{
    display: flex;
    justify-content: space-between;
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
 
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-left: 10%;
    padding-right: 10%;
   
}
nav ul li{
    list-style-type: none;
   display: inline-block;
   padding: 10px 20px;
 
}
nav ul li a{
    text-decoration: none;
    color: white;
   
}
nav ul li a:hover{
    color: rgb(224, 226, 81);
    transition: 1s;
}
h2{
    color: white;
    font-family: 'Asap Condensed', sans-serif;
   font-size: 30px;
}
span{
    color: yellow;
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
}
.text-common{
    color: white;
    margin-left: 200px;
    margin-top: 200px;
    font-family: 'Satisfy', cursive;
    font-size: 23px;
}
.imgposter{
    position: relative;
    margin-left: 730px;
  top: -400px;

}
.visitsite{
 display: flex;
margin-top: 80px;

}
.btn{
    font-family: 'Asap Condensed', sans-serif;
    font-size: 15px;  
}
.girl-img{
    margin-left: 140px;
}
/* NORMAL MOBILE DEVICES */
@media screen and (min-width:400px) and (max-width:600px)
{
    *{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background-color: burlywood;
    }
    
    .logo{
        color: white;
        font-size: 20PX;
        font-family: 'Borel', cursive;
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Lumanosimo', cursive;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
      padding-top: 20px;
      padding-left: 3%;
      padding-right: 3%;
    
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 0px;
        padding-left: 2%;
        padding-right: 2%;
    }
    nav ul li{
        list-style-type: none;
       display: inline-block;
       padding: 5px 3px;
    
    }
    nav ul li a{
        text-decoration: none;
        color: white;
        font-size: 12px;
    }
    nav ul li a:hover{
        color: rgb(224, 226, 81);
        transition: 1s;
    }
    h2{
        color: white;
        font-family: 'Asap Condensed', sans-serif;
       font-size: 10px;
    }
    span{
        color: yellow;
        font-family: 'Kaushan Script', cursive;
        font-size: 20px;
    }
    .text-common{
        color: white;
        margin-left: 30px;
        margin-top: 80px;
        font-family: 'Satisfy', cursive;
        font-size: 16px;
    }
    .imgposter{
        position: relative;
        margin-left: 350px;
        margin-top: 200px;
    
    }
    .visitsite{
     display: flex;
    margin-top: 50px;
    
    }
    .btn{
        font-family: 'Asap Condensed', sans-serif;
        font-size: 8px; 
        padding-left: 8px;
        padding-right: 8px;
    } 
    .girl-img{
        height: 70px;
    }
}
/* NORMAL TABLETS DEVICES */
@media screen and (min-width:600px) and (max-width:690px)
{
    *{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background-color: rgb(60, 60, 247);
    }
    
    .logo{
        color: white;
        font-size: 30PX;
        font-family: 'Borel', cursive;
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Lumanosimo', cursive;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
      padding-top: 30px;
      padding-left: 6%;
      padding-right: 6%;
    
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 0px;
        padding-left: 6%;
        padding-right: 6%;
    }
    nav ul li{
        list-style-type: none;
       display: inline-block;
       padding: 3px 3px;
    
    }
    nav ul li a{
        text-decoration: none;
        color: white;
      
    }
    nav ul li a:hover{
        color: rgb(224, 226, 81);
        transition: 1s;
    }
    h2{
        color: white;
        font-family: 'Asap Condensed', sans-serif;
       font-size: 14px;
    }
    span{
        color: yellow;
        font-family: 'Kaushan Script', cursive;
        font-size: 30px;
    }
    .text-common{
        color: white;
        margin-left: 30px;
        margin-top: 80px;
        font-family: 'Satisfy', cursive;
        font-size: 23px;
    }
    .imgposter{
        position: relative;
        margin-left: 460px;
        margin-top: 190px;
    
    }
    .visitsite{
     display: flex;
    margin-top: 50px;
    
    }
    .btn{
        font-family: 'Asap Condensed', sans-serif;
        font-size: 8px; 
        padding-left: 8px;
        padding-right: 8px;
    } 
    .girl-img{
        height: 140px;
    }
}
/* NORMAL LAPTOP /DESKTOP DEVICES */
@media screen and (min-width:690px) and (max-width:800px)
{
    *{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background-color: coral;
    }
    
    .logo{
        color: white;
        font-size: 30PX;
        font-family: 'Borel', cursive;
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Lumanosimo', cursive;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
      padding-top: 30px;
      padding-left: 6%;
      padding-right: 6%;
    
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 0px;
        padding-left: 6%;
        padding-right: 6%;
    }
    nav ul li{
        list-style-type: none;
       display: inline-block;
       padding: 3px 3px;
    
    }
    nav ul li a{
        text-decoration: none;
        color: white;
    }
    nav ul li a:hover{
        color: rgb(224, 226, 81);
        transition: 1s;
    }
    h2{
        color: white;
        font-family: 'Asap Condensed', sans-serif;
       font-size: 14px;
    }
    span{
        color: yellow;
        font-family: 'Kaushan Script', cursive;
        font-size: 30px;
    }
    .text-common{
        color: white;
        margin-left: 30px;
        margin-top: 80px;
        font-family: 'Satisfy', cursive;
        font-size: 23px;
    }
    .imgposter{
        position: relative;
        margin-left: 460px;
        margin-top: 190px;
    
    }
    .visitsite{
     display: flex;
    margin-top: 50px;
    
    }
    .btn{
        font-family: 'Asap Condensed', sans-serif;
        font-size: 8px; 
        padding-left: 8px;
        padding-right: 8px;
    } 
    .girl-img{
        height: 140px;
    } 
}