*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: F8F0E5;

    /* background-color: #1a0000; */
}
body{
    margin: 0;
}

.logo{
    color: black;
    font-size: 38PX;
    font-family: 'Lumanosimo', cursive;

}
/* .navbar{
    display: flex;
    justify-content: space-between;
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
 box-shadow: 0 -2px 15px -2px black;
 position: fixed;
 width: 100%;
background-color: white;
} */
/* .navbar-container{
    position: fixed;
} */
/* nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-left: 10%;
    padding-right: 10%;

} */
/* nav ul li{
    list-style-type: none;
   display: inline-block;
   padding: 10px 20px;
 
}
nav ul li a{
    text-decoration: none;
    color: black;
   
}
nav ul li a:hover{
    color: #FF6666;
    transition: 1s;
} */
.contact-btn{
    margin-top: 110px;
   
}

 .about-page{
 margin-top: 200px;
}
.project-page{
   
    margin-top: 200px;
}
h2{
    color: black;
    font-family: 'Asap Condensed', sans-serif;
   font-size: 30px;
}
.kadiwike{
    color: #FF6666;
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
}
.text-common{
    color: black;
    margin-left: 200px;
    margin-top: 120px;
    /* font-family: 'Satisfy', cursive; */
    font-family: sans-serif;
    font-size: 20px;
}
.port-container{
    display: flex;
    /* margin-top: 40px; */
}
 .imgposter{
    /* position: relative;
    margin-left: 30px; */
  top: 30px;
  

} 
.media{
 display: flex;
height: 40px;
width: 110px;
justify-content: space-between;
margin-top: 20px;

}

.its-me-img{
 
    display: inline;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin-top: 30px;
  
}

.btn-1{
    font-family: 'Asap Condensed', sans-serif;
    font-size: 15px; 
    border: 1px solid black; 
}
.girl-img{
    margin-left: 140px;
    margin-top: 120px;
}



.project-card{
    height: 300px;
    width: 455px;
    box-shadow: 0 -2px 15px -2px black;
    margin: 30px;
}
.project-card-container-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   margin-top: 30px;
 
}
.project-card-container-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
}
.project-card-overall{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
   


}
/* .contact-left{
    flex-basis: 35%;
} */
form{
   display: flex;
   flex-direction: column;
   height: 300px;
   width: 500px;
   margin-top: 40px;

}
.contact{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    box-shadow: 0 -2px 15px -2px black;
}
.cantact-container{
    margin-top: 40px;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
    color: #FF6666;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    margin: 5px;
    color: black;
}
.input-field{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
.submit-btn{
    height: 30px;
    width: 100px;
    margin-left: 5px;
    margin-top: 20px;
    background-color: #FF6666;
    border-radius: 5px;
    font-size: 15px;
    transition: 1s;
    border: none;
}
.submit-btn:hover{
    cursor: pointer;
   border-radius: 20px
}
/* .project-card-1{
    background-image: url(./../img/snip1.png) ;
  

    background-position: center;
   
} */
.project-1{
   text-align: center;
}


/* NORMAL MOBILE DEVICES */
@media screen and (min-width:400px) and (max-width:711px)
{
  nav{
display: none;
  } 
  .port-container{
 display: flex;
 flex-direction: column;
  } 
  .text-common{
    color: black;
    /* margin-left: 200px;
    margin-top: 120px; */
    /* font-family: 'Satisfy', cursive; */
    font-family: sans-serif;
    font-size: 10px;
}
.girl-img{
   height: 200px;
   width: 300px;
   align-items: center;

}
.btn{
    font-family: 'Asap Condensed', sans-serif;
    font-size: 15px;  
}
span{
    color: #FF6666;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
}

.logo{
    font-size: 10px;
}
.btn{
    /* font-family: 'Asap Condensed', sans-serif; */
 height: 40px;
 width: 140px;

}
.media{
    display: flex;
   height: 20px;
   width: 60px;
   justify-content: space-between;
   margin-top: 20px;
   
   }
   .linkedin-logo{
    height: 15px;
   }
   .github-logo{
    height: 15px;
   }
   .insta-logo{
    height: 15px;
   }
   .about-me-container{
    /* background-color: #FF6666; */
  
    box-shadow: 0 -1px 8px -2px black;
    width: 100vw;
    height: 550px;
    
}
 .its-me-img{
 
    display: inline;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 30px;
  
}
.about-content{
    margin-right: 2px;
    margin-left: 8px;
    color: rgb(17, 16, 17);
    font-family: sans-serif;
    font-size: 10px;
  
    padding: 10px 30px 30px 50px;
    
} 
.heading{
    font-size: 15px;
    
}
.project-card-overall{
    display: flex;
    flex-direction: column;
    
    margin-top: 10px;
}
.heading-2{
    font-size: 10px;
    margin-top: 5px;
}
.project-card{
    height: 300px;
    width: 455px;
    box-shadow: 0 -2px 15px -2px black;
    margin: 30px;
}
.project-card-container-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

 
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 100px;
    box-shadow: 0 -2px 15px -2px black;
}
} 




/* NORMAL TABLETS DEVICES */
@media screen and (min-width:712px) and (max-width:1180px)
{
    
}

